<html>
	<head>
		<title></title>
	</head>

	<body>

		<p>First Name:{{ user.fname }}</p>
		<p>Last Name:{{ user.lname }}</p>
		<p>Password:{{ user.password }}</p>
		<p>Confirm Password:{{ user.cpassword }}</p>

	</body>
</html>
